:root{
    --var-color: red;
}

p::first-line{
    color: var(--var-color);
}

h1::first-letter{
    color: var(--var-color);
    font-size: 200%;
}

li{
    list-style: none;
}

li::before{
    content: "A - ";
}

input:focus{
    color: var(--var-color);
}

